@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;300;500;700;800&family=Roboto:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: initial;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  height: 90%;
  width: 90%;
  /* background: lightgray; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 44vmax;
  height: 28vmax;
  background: white;
  box-shadow: 0px 0px 18px 8px hsl(221, 100%, 96%);
}
/* Left Part CSS */

#left {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

#Result{
  color: hsl(241, 100%, 89%);
  margin-top: 1vmax  ;
  font-size: 1.3vmax;
}

#Circle { 
  border-radius: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vmax;
  width: 10vmax;
  padding: 20px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  padding: 2vw;
  margin: 2vw;
}

#Marks{
  width: 100%;
  font-size: 4vmax;
  font-weight: 800;
}

#paragraphTemplate{
  height: 35%;
  text-align: center;
  width: 66%;
}

#message{
  font-weight: 700;
  font-size: 1.8vmax;
  margin-bottom: 1vmax ;
}

#outof{
  font-size: 1.2vw;
}

#Paragraph{
  color:  hsl(241, 100%, 89%);
  font-size: 1vmax;
}


/* Right Part CSS */

#right {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 100%;
  width: 50%;
}

.template{
  position: relative;
  height: 100%;
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row ;
  border-radius: 10px;
  margin-bottom: 1vmax;
}


#Summary{
  margin-top: 1.2vmax;
  justify-content: start;
  font-size: 1.9vmax;
  font-weight: 800;
  color:hsl(224, 30%, 27%);
}

#Reaction{
  background: hsla(0, 100%, 67%,.08);
  .templatetext{
    color: hsl(0, 100%, 67%);
  }
 
}

#Memory{
  background: hsla(39, 100%, 56%,.15);
  .templatetext{
    color: hsl(39, 100%, 56%);
  }
}

#Verbal{
  background:  hsla(166, 100%, 37%,.08); 
  .templatetext{
    color: hsl(166, 100%, 37%);
  }
}

#Visual{
  background: hsla(241, 100%, 89%,.3);
  .templatetext{
    color: hsl(234, 85%, 45%);
  }
}

.templatetext{
  font-weight: 500;
  font-size: 1.2vmax ;
  width: 40%;
}

.templatemarks{
  font-size: 1.2vmax;
  color:hsl(241, 100%, 89%);
}

.bold{
  font-weight: 800;
  color:hsl(224, 30%, 27%) ;
}

#right > button{
    border: none;
    margin-top:1vw;
    margin-bottom: 2vw  ;
    background: hsl(224, 30%, 27%);
    border-radius: 20px;
    color: white;
    font-size: 1.2vmax;
}


/* Attribute CSS */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}




@media only screen and (max-width:600px) {
  main {
    height: 140%;
    width: 100%;
  }

  .container {
    flex-direction:column;
    width: 100%;
    height: 100%;
  }
  #left {
    height: 92vw;
    width: 100%;
  }
  #right {
    height: 60%;
    width: 100%;
  }
  .template{
    height: 15%;
    width: 90%;
  }
  #Summary{
    font-size: 5.5vw;
  }
  .templatetext{
    font-weight: 700;
    font-size: 4.5vw;
  }
  .templatemarks{
    font-size: 4.5vw;
  }
  img{
    width: 4.5vw;
  }
  #Circle { 
    height: 40vw;
    width: 40vw;
  }
  #Result{
    margin-top: 2vw  ;
    font-size: 4vw;
  }
  #Marks{
    font-size: 18vw;
  }
  #outof{
    font-size: 5vw;
  }
  #paragraphTemplate{
    height: 25%;
  }
  #message{
    font-size: 6vw;
  }
  #Paragraph{
    font-size: 3.8vw;
  }
}